<div class="container">
  <h4>Add New Task</h4>

  <form ng-submit="api.createTask(api.detail)">

    <div>
      <label for="name">task</label>
      <input type="text" ng-model="api.detail.name" required>
    </div>
    <div>
      <label for="description">description</label>
      <input class="materialize-textarea" type="text" ng-model="api.detail.description" required>
    </div>
    <div>
      <label for="date_due">date due</label>
      <input type="date" ng-model="api.detail.date_due" required>
    </div>
    <div>
      <label for="assigned_to">Assigned to</label>
      <select class="browser-default" name="assigned_to" id="assigned_to"
        ng-options="option.username for option in api.allUsers track by option.id"
        ng-model="api.detail.theUser" required></select>
    </div><br><br>
    <button class="waves-effect waves-light purple lighten-2 btn" type="submit">add task</button><span>{{api.enote}}</span>
  </form>
</div>
