<div class="x-entry">
  <h4>{{api.curentUser}} profile update</h4>

  <form ng-submit="api.myUpdate(api.account)">
    <div>
      <label for="changePassword">change pasword?</label>
      <input type="checkbox" ng-model="api.account.wantPasswordChange">
    </div>

    <div ng-show="api.account.wantPasswordChange">
      <label for="oldPassword">old password</label>
      <input type="password" ng-model="api.account.oldPassword">
    </div>
    <div ng-show="api.account.wantPasswordChange">
      <label for="newPassword1">new password</label>
      <input type="password" ng-model="api.account.newPassword1">
    </div>
    <div ng-show="api.account.wantPasswordChange">
      <label for="newPassword2">retype password</label>
      <input type="password" ng-model="api.account.newPassword2">
    </div>
    </br>
    <div>
      <label for="email">email</label>
      <input type="email" ng-model="api.account.email" required>
    </div>
    <div>
      <label for="e_confirmed">Confirmed</label>
      <input type="checkbox" ng-model="api.account.e_confirmed">
    </div>
    <button class="x-btn x-btn-add" type="submit">update</button><span>{{api.enote}}</span>
  </form>
</div>
